.gameRoundContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20rpx;
}

.title {
  margin: 0 30rpx 20rpx 30rpx;
  font-weight: bold;
  color: coral;
}

.userList {
  flex: 1;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}

.gameUserList {
  display: flex;
  flex-direction: row;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}

.winerTag {
  color: coral;
}

.loserTag {
  color: lightgreen;
}

.tagList {
  display: flex;
  flex-direction: row;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}


.tag {
  margin-left: 20rpx;
  margin-bottom: 20rpx;
}

.numberSliderTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.numberSlider {
  margin-bottom: 20rpx;
}

.bottomButton {
  display: flex;
  flex-direction: row;
}

.button {
  width: 50%;
}
