.gameRoundContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20rpx;
}

.title {
  margin: 0 30rpx 20rpx 30rpx;
  font-weight: bold;
  color: coral;
}

.userList {
  flex: 1;
  overflow: scroll;
}

.tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}

.gameUserList {
  display: flex;
  flex-direction: row;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}

.winnerTag {
  color: coral;
}

.loserTag {
  color: lightgreen;
}

.tag {
  margin: 0 10rpx 20rpx 20rpx
}

.playerTitle {
  display: flex;
  justify-content: space-between;
}

.numberSliderTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.numberSlider {
  margin-bottom: 20rpx;
}

.bottomButton {
  display: flex;
  flex-direction: row;
}

.button {
  width: 50%;
}

.playUserBaseStatus {

}

.playUserWinStatus {
  color: coral;
}

.playUserLoseStatus {
  color: limegreen;
}
