.ranKItem {
  display: flex;
  padding: 10rpx;
}

.ranKItem .avatar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20rpx;
}

.ranKItem .detail {
  flex: 1;
  display: flex;
  align-items: center;
}

.ranKItem .nickname {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: mediumpurple;
  margin-bottom: 15rpx;
}

.ranKItem .tags {
  display: flex;
  justify-content: space-between;
}

.ranKItem .coin {
}

.ranKItem .asset {
  width: 20%;
  font-weight: bold;
}

.ranKItem .assetNumber {
  font-weight: bold;
}

.ranKItem .flag {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranKItem .red {
  color: red;
}

.ranKItem .green {
  color: green;
}
