.topUserContainer {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px #F0F0F0 solid;
}

.topUserContainer .verticalText {
  height: 100%;
  width: 15%; /* 宽度为屏幕的15% */
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平居中 */
  writing-mode: vertical-lr; /* 文字垂直显示，从左向右 */
  text-orientation: upright; /* 文字方向保持正常 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏超出部分 */
  line-height: 1.5em; /* 调整行高 */
  -webkit-line-clamp: 4; /* 控制最多显示4行 */
  -webkit-box-orient: vertical; /* 与 line-clamp 配合使用 */
  font-weight: bolder;
  margin: 0 10rpx 0 10rpx;
}

.topUserContainer .topText {
  color: coral;
}

.topUserContainer .bottomText {
  color: deepskyblue;
}

.topUserContainer .avatar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rpx;
}

.topUserContainer .detail {
  flex: 1;
  display: flex;
  align-items: center;
}

.topUserContainer .detailContent {
  width: 100%;
}

.topUserContainer .nickname {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: mediumpurple;
  margin-bottom: 15rpx;
}

.topUserContainer .asset {
  display: flex;
  align-items: center;
}

.topUserContainer .coin {
  width: 40rpx;
  height: 40rpx;
  margin-right: 15rpx;
}

.topUserContainer .assetNumber {
  font-weight: bold;
}

.topUserContainer .topAsset {
  color: red;
}

.topUserContainer .bottomAsset {
  color: green;
}
