.loginContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rrpx 0;
  box-sizing: border-box;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  width: 80%;
}

.avatarWrapper {
  padding: 0;
  width: 56rpx !important;
  border-radius: 8rpx;
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}

.avatar {
  display: block;
  width: 56rpx;
  height: 56rpx;
}

.nicknameWrapper {
  display: flex;
  width: 100%;
  padding: 16rpx;
  box-sizing: border-box;
  border-top: .5rpx solid rgba(0, 0, 0, 0.1);
  border-bottom: .5rpx solid rgba(0, 0, 0, 0.1);
  color: black;
}

.nicknameLabel {
  width: 105rpx;
}

.nicknameInput {
  flex: 1;
}

.login {
  width: 40%;
}
