.gameRoundContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20rpx;
}

.gameRoundContainer .title {
  margin: 0 30rpx 20rpx 30rpx;
  font-weight: bold;
  color: coral;
}

.gameRoundContainer .userList {
  flex: 1;
  overflow: auto;
}

.gameRoundContainer .tagList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}

.gameRoundContainer .fanList {
}

.gameRoundContainer .gameUserList {
  display: flex;
  flex-direction: row;
  border-bottom: 1rpx #F0F0F0 solid;
  margin-bottom: 20rpx;
}

.gameRoundContainer .winnerTag {
  color: coral;
}

.gameRoundContainer .loserTag {
  color: lightgreen;
}

.gameRoundContainer .tag {
  margin: 0 10rpx 20rpx 20rpx
}

.gameRoundContainer .playerTitle {
  display: flex;
  justify-content: space-between;
}

.gameRoundContainer .numberSliderTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rpx;
}

.gameRoundContainer .numberSlider {
  margin-bottom: 20rpx;
  display: flex;
  justify-content: flex-end;
  padding-right: 30rpx;
}

.gameRoundContainer .bottomButton {
  display: flex;
  flex-direction: row;
}

.gameRoundContainer .button {
  width: 100%;
}

.gameRoundContainer .playUserBaseStatus {

}

.gameRoundContainer .playUserWinStatus {
  color: coral;
}

.gameRoundContainer .playUserLoseStatus {
  color: limegreen;
}
