.mahjongContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topUserInfo {
  height: 13%;
  display: flex;
  flex-direction: row;
}

.gameInfo {
  height: 80%;
}

.buttonInfo {
  height: 7%;
  width: 100%;
}

.button {
  height: 100%;
  width: 100%;
}
